<!-- Extra info over de persoon -->
<!-- Read only mode -->
<div class="row" *ngIf="!editMode">
    <div class="col-7 col-md-auto font-sm"
        [hidden]="!personIsUser || (likes?.length || dislikes?.length)">
        Voeg extra info over jezelf toe...
    </div>
    <div class="col-2 col-md-auto order-md-3" [hidden]="!personIsUser">
        <fa-icon [icon]="pencilIcon" (click)="editMode = !editMode"></fa-icon>
    </div>
    
    <gimmi-extra-info-view [firstName]="firstName" [items]="likes" itemType="likes"></gimmi-extra-info-view>    
    <gimmi-extra-info-view [firstName]="firstName" [items]="dislikes" itemType="dislikes"></gimmi-extra-info-view>

</div>

<div class="row" *ngIf="editMode">
    EDIT MODE
</div>