<div class="card shadow mt-1 pb-1">
    <!-- https://stackoverflow.com/questions/43009351/how-to-make-links-work-with-card-img-overlay-in-bootstrap-v4 -->
    <div class="position-relative">
        <gimmi-image-view 
            class="card-img-top img-fluid rounded w-100 mb-2 thumbnail inline" 
            [image]="wish.image"
        ></gimmi-image-view>
        <!-- Wish card overlay with banners -->
        <div class="card-img-overlay p-1 text-right h6" [ngClass]="{'blurred-card-overlay': blurWishCardStatus()}">
            <gimmi-wish-banner [bannerConfig]="wishScenarioConfig[wish.scenario].bannerConfig" ></gimmi-wish-banner>
        </div>
    </div>
    <div class="card-block p-1 container">
        <!-- Row with title en ellipsis menu -->
        <div class="row no-gutters justify-content-between">
            <!-- Title -->
            <div class="col-10">
                <a  class="wish-card-title text-dark text-capitalize"   
                    [ngClass]="{ 'text-muted' : blurWishCardStatus()}"
                    [routerLink]="['/wishes', wish.id]">{{wish.title}}</a>
            </div>
            <!-- Ellipsis menu -->
            <div class="col-1">
                <gimmi-action-list [actionListItems]="wishActionItems"></gimmi-action-list>
            </div>
        </div>

        <!-- Row with "price" -->
        <div class="row no-gutters">
            <div class="col-10">
                <p  class="card-text font-weight-bold"
                    [ngClass]="{ 'text-muted' : wish.status !== 'Open'}">
                    {{wish.price | currency : "EUR" : 'symbol' : '1.2-2'}}</p>
            </div>
        </div>
        <!-- Row with "idea of" -->
        <div class="row no-gutters text-right" *ngIf="wish.createdBy.id !== wish.receiver.id">
            <div class="col-11">
                <p class="text-muted text-truncate">Toegevoegd door {{wish.createdBy.firstName}} {{wish.createdBy.lastName.charAt(0)}}.</p>
            </div>
        </div>
        <!-- CTA's -->
        <div class="row no-gutters mt-2">
            <gimmi-wish-call-to-action-button 
                class="w-100" 
                [CTAconfig]="wishScenarioConfig[wish.scenario].CTAbutton">
            </gimmi-wish-call-to-action-button>
        </div>
    </div>
</div>