<div class="card shadow mt-1 pb-1">
    <!-- https://stackoverflow.com/questions/43009351/how-to-make-links-work-with-card-img-overlay-in-bootstrap-v4 -->
    <div class="position-relative">
        <cl-image   class="card-img-top img-fluid rounded w-100 mb-2 thumbnail inline" 
                    public-id='wish_images/default'
                    version='1556702046'>
            <cl-transformation fetch-format="auto"></cl-transformation>
        </cl-image>
        <!-- Wish card overlay with banners -->
        <div    class="card-img-overlay p-1 text-right h6"
                [ngClass]="{'blurred-card-overlay': wish.status !== 'Open'}">
            <!-- "Your idea" banner -->
            <span
                class="w-75 badge badge-warning badge-wish-card-banner font-weight-normal text-wrap text-center badge-multiline disabled"
                ng-if="wish.state === 'Open' || !wish.state"
                ng-show="wishCtrl.userIsCreator(wish.createdBy._id) && !wishlistCtrl.userIsReceiver">
                <i class="fa fa-lightbulb-o mr-1" aria-hidden="true"></i> {{wish.status}}
            </span>
        </div>
    </div>
    <div class="card-block p-1 container">
        <!-- Row with title en ellipsis menu -->
        <div class="row no-gutters justify-content-between">
            <!-- Title -->
            <div class="col-10">
                <a  class="wish-card-title text-dark text-capitalize"
                    [ngClass]="{ 'text-muted' : wish.status !== 'Open'}"
                    [routerLink]="['/wishes', wish.id]">{{wish.title}}</a>
            </div>
            <!-- Ellipsis menu -->
            <div class="col-1">
                <div ngbDropdown class="float-right mr-1">
                    <div ngbDropdownToggle>
                        <fa-icon [icon]="faEllipsisV" size="2x" class="px-1"></fa-icon>
                        <!-- Vertical ellipsis because this is more compact on mobile designs -->
                    </div>
                    <div ngbDropdownMenu class="mt-3">
                        <button class="btn btn-outline-light btn-block border-0 text-muted text-left"
                            (click)="edit()">
                            <div class="row">
                                <div class="col-1"><i class="fa fa-edit" aria-hidden="true"></i></div>
                                <div class="col-9">Wish action component</div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Row with "price" -->
        <div class="row no-gutters">
            <div class="col-10">
                <p  class="card-text font-weight-bold"
                    [ngClass]="{ 'text-muted' : wish.status !== 'Open'}">
                    {{wish.price | currency : "EUR" : 'symbol' : '1.2-2'}}</p>
            </div>
        </div>
        <!-- Row with "idea of" -->
        <div class="row no-gutters text-right" *ngIf="wish.createdBy.id !== wish.receiver.id">
            <div class="col-11">
                <p class="text-muted text-truncate">Toegevoegd door {{wish.createdBy.firstName}} {{wish.createdBy.lastName.charAt(0)}}.</p>
            </div>
        </div>
        <!-- CTA's -->
        <div class="row no-gutters mt-2">
            <button class="btn btn-outline-danger btn-block btn-wish-card-cta border-1 shadow-sm">
                Wish action component</button>
        </div>
    </div>
</div>