<div [formGroup]='parentFormGroup' class='mb-3'>
    <label *ngIf="label">{{label}}</label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <fa-icon [icon]="mailIcon"></fa-icon>
            </span>
        </div>
        <input  [formControlName]="controlName" 
                type="text" 
                class="form-control" 
                [placeholder]="placeholder" 
                [bindQueryParamToInput]="bindedQueryParam">
    </div>
    <div id="emailError" class="form-text text-danger"
        *ngIf="!parentFormGroup.get(controlName).valid && parentFormGroup.get(controlName).touched">
        <small *ngIf="parentFormGroup.get(controlName).errors?.required">
            Email is een verplicht veld</small>
        <small *ngIf="parentFormGroup.get(controlName).errors?.email">
            Geef een geldig emailadres in (formaat: *** @ *** . **)</small>
        <small *ngIf="parentFormGroup.get(controlName).errors?.emailExists" class="text-success">
            Er is al een wishlist gekoppeld aan dit emailadres:
            <a [routerLink]="['/people', knownPerson.id]">Bekijk de wensen van {{knownPerson.fullName}}</a></small>
    </div>
</div>