<h2>Wachtwoord vergeten?</h2>
<ngb-alert type='success' *ngIf="requestSent && !successAlertClosed" (close)="successAlertClosed=true">
    <p>
        Uw paswoord reset werd aangevraagd. U zou binnen de 10 minuten een email moeten ontvangen met een paswoord reset
        link. Indien u deze mail niet ontvangt, controleer dan zeker uw spam folder. <br />
        <em>Opgelet: u zal enkel een email ontvangen, als u een emailadres van een bestaande account ingeeft.</em>
    </p>
    <p>
        U kan hieronder indien nodig een nieuwe aanvraag lanceren.
    </p>
</ngb-alert>
<h5>Log in via je Facebook account</h5>
<div><small class='text-muted'>Zo hoef nooit nog een wachtwoord te onthouden voor Gimmi...</small></div>
<gimmi-facebook-login-button></gimmi-facebook-login-button>

<h5>Of vraag een wachtwoord reset aan voor je Gimmi account</h5>
<form [formGroup]='forgotPasswordForm' (submit)='requestPasswordReset()'>
    <gimmi-email-input
        [parentFormGroup]='forgotPasswordForm'
        controlName='email'
        label='Emailadres van uw Gimmi-account'
        placeholder='Emailadres van uw account'
        bindedQueryParam='e'
    ></gimmi-email-input>
    <button type="submit" class="btn btn-danger my-3" [disabled]="!forgotPasswordForm.valid">Vraag nieuw wachtwoord aan</button>
</form> 