<div class="modal-header">
    <h3 class="modal-title">Deel deze pagina</h3>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body" id="modal-body" NgbAutoFocus>
    <div class="container">
        Link naar de pagina:
        <input type="text" class="form-control form-control-sm" aria-label="wishlist link" [value]="linkToShare" readonly>
        <div class="my-2"><gimmi-copy-to-clipboard-button [url]="linkToShare"></gimmi-copy-to-clipboard-button></div>
        <div class="my-2"><gimmi-mail-to-button [url]="linkToShare" [person]="personToShare"></gimmi-mail-to-button></div>
        <div class="my-2"><gimmi-whatsapp-button [message]="generateMessage()"></gimmi-whatsapp-button></div>
    </div>
</div>