<div class="modal-header" style="color:#000000">
    <h3 class="modal-title" id="modal-title">
        Verwijder je reservatie
    </h3>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body" id="modal-body" style="color:#000000">
    <p ngbAutofocus>U hebt een reservatie voor {{wish.title}} van {{wish.receiver.firstName}}. Als u deze ongedaan wilt maken kan u klikken op "Verwijder reservatie".</p>
    <small class="text-muted">Opgelet: Hierna is de wens weer voor iedereen beschikbaar om te reserveren.</small>
</div>

<div class="modal-footer">
    <button class="btn btn-outline-danger" type="button" (click)="cancelReservation()">Verwijder reservatie</button>
    <button class="btn btn-danger" type="button" (click)="activeModal.dismiss('Cancel')">Behoud reservatie</button>
</div>