<h3>Wensenlijst</h3>
<div *ngIf="loading" class="spinner-border text-danger" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div *ngIf="wishes?.length === 0 && !loading">
    <ngb-alert type="info">
        <p>Er staan nog geen wensen op deze lijst. Vraag {{receiver.firstName}} om wensen op de lijst toe te voegen, zodat jij het perfect cadeau kan kopen...</p>
    </ngb-alert>
</div>
<div *ngIf="wishes && !loading" class="card-columns">
    <gimmi-wish-create-card></gimmi-wish-create-card>
    <gimmi-wish-card 
        *ngFor="let wish of wishes | filterOnState:wishlistFilter" 
        [wish]="wish">
    </gimmi-wish-card>
</div>