<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
        Bevestiging voor verwijderen
    </h3>
</div>

<div class="modal-body" id="modal-body">
    Ben je zeker dat je <b>"{{wish.title}}"</b> wilt verwijderen?
</div>

<div class="modal-footer">
    <button class="btn btn-danger" type="Submit" (click)="executeDeletion()">Ja, verwijder</button>
    <button class="btn btn-outline-danger" type="button" (click)="activeModal.dismiss('Cancel')">Nee, wens behouden</button>
</div>