<nav class="navbar navbar-expand-md sticky-top navbar-light bg-light">
    <div class="container-fluid justify-content-between"> <!-- Extra container to be able to centralised search bar-->
        <div class="navbar-brand">
            <gimmi-brand-logo [link]="['/test', 123]"></gimmi-brand-logo>
        </div>
        <div>
            <div class="nav-item">
                <gimmi-people-search></gimmi-people-search>
            </div>
        </div>
        <div>
            <!-- Navbar collapse toggler-->
            <button class="navbar-toggler navbar-toggler-right" type="button" 
                    (click)="toggleNavbarCollapseState()"
                    *ngIf="!currentUser">
                &#9776;
            </button>
            <!-- Full user menu (toggler and menu)-->
            <gimmi-user-menu *ngIf="currentUser"></gimmi-user-menu>
        </div>
    </div>
    <!-- Dropdown menu or collapsable buttons-->
    <!--    
        This menu is left outside the div container above (in which gimmi-user-menu and the collapse toggler are placed, 
        because otherwise the menu isn't shown on full length of mobile devices 
        This is only a quick workaround. Ideally, the toggler and menu should be in one component (eg. userMenuComponent).
        But for now I'm tired of trying to layout the navbar :-) To be continued... 
    -->
    <div *ngIf="!currentUser" class="navbar-collapse collapse" [ngbCollapse]="isNavbarCollapsed" > 
        <gimmi-unknown-user-menu (menuItemClicked)="toggleNavbarCollapseState()"></gimmi-unknown-user-menu>
    </div>
</nav>