<div class="modal-header" style="color:#000000">
  <pre>{{wishDetailsEditCtrl.wish | json}}</pre>
    <h3 class="modal-title" id="modal-title">
      Wijzig de gegevens van {{wishDetailsEditCtrl.wish.title}}
    </h3>
</div>

<div class="row modal-body" id="modal-body" style="color:#000000">
  <form name="wishEditForm"
        class="create-form form-horizontal"
        role="form"
        novalidate>
      <div class="form-group">
        <label for="wishImage" class="col-md-2 control-label">Afbeelding</label>
        <div class="col-md-8">
          <div class='pic'>
            <img class="img-thumbnail" ng-src="{{wishDetailsEditCtrl.wish.image}}" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="wishTitle" class="col-md-2 control-label">Titel</label>
        <div class="col-md-8">
          <input 	type="text"
                  class="form-control"
                  id="WishTitle"
                  ng-model="wishDetailsEditCtrl.wish.title"
                  placeholder="Titel"
                  required/>
        </div>
      </div>
      <div class="form-group">
        <label for="wishPrice" class="col-md-2 control-label">Prijs</label>
        <div class="col-md-8">
          <input 	type="number"
                  class="form-control"
                  name="inputPrice"
                  id="WishPrice"
                  placeholder="Prijs in € (enkel getal ingeven)"
                  ng-model="wishDetailsEditCtrl.wish.price"/>
          <span ng-show="wishEditForm.inputPrice.$error.number">
            Enkel getallen toegelaten!
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="wishUrl" class="col-md-2 control-label">Cadeaulink</label>
        <div class="col-md-8">
          <input 	type="text"
                  class="form-control"
                  id="WishUrl"
                  ng-model="wishDetailsEditCtrl.wish.url"
                  placeholder="Link naar externe website"
                  required/>
        </div>
      </div>
      <div class="form-group">
        <label for="wishDescription" class="col-md-2 control-label">Beschrijving</label>
        <div class="col-md-8">
          <textarea class="form-control" rows="3"
                    id="wishDescription"
                    ng-model="wishDetailsEditCtrl.wish.description"
                    placeholder="Geef een korte beschrijving van je wens"/>
          </textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="wishColor" class="col-md-2 control-label">Kleur</label>
        <div class="col-md-8">
          <input 	type="text"
                  class="form-control"
                  id="wishColor"
                  ng-model="wishDetailsEditCtrl.wish.color"
                  placeholder="Gewenste kleur"/>
        </div>
      </div>
      <div class="form-group">
        <label for="wishSize" class="col-md-2 control-label">Grootte/Maat</label>
        <div class="col-md-8">
          <input 	type="text"
                  class="form-control"
                  id="WishSize"
                  ng-model="wishDetailsEditCtrl.wish.size"
                  placeholder="Gewenste maat"
                  required/>
        </div>
      </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="wishDetailsEditCtrl.ok()">Opslaan</button>
    <button class="btn btn-warning" type="button" ng-click="wishDetailsEditCtrl.cancel()">Annuleer</button>
</div>
