<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
      Wijzig de gegevens van {{wishDetailsEditCtrl.wish.title}}
    </h3>
</div>

<div class="modal-body" id="modal-body">
  <form name="wishEditForm" class="p-2" role="form" novalidate>
      <div class="form-group">

        <cl-image class="img-thumbnail" public-id="{{wishDetailsEditCtrl.wish.image.public_id}}" version="{{wishDetailsEditCtrl.wish.image.version}}">
          <cl-transformation fetch-format="auto" />
        </cl-image>
        <button class="btn btn-danger" type="button" 
                cl-upload 
                public-id="{{wishDetailsEditCtrl.temporaryPublicID}}" 
                image-result="wishDetailsEditCtrl.wish.image"
                on-cancel="wishDetailsEditCtrl.goToTitle()">
        Wijzig de afbeelding</button>
      </div>
      <div class="form-group">
        <label for="DetailWishTitle" class="form-control-label">Titel</label>
        <input 	type="text"
                class="form-control"
                id="DetailWishTitle"
                ng-model="wishDetailsEditCtrl.wish.title"
                placeholder="Titel"
                required/>
      </div>
      <div class="form-group">
        <label for="wishPrice" class="form-control-label">Prijs</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">€</div>
          </div>
          <input 	type="number"
                  class="form-control"
                  name="inputPrice"
                  id="WishPrice"
                  placeholder="Prijs in € (enkel getal ingeven)"
                  ng-model="wishDetailsEditCtrl.wish.price"/>
          <span ng-show="wishEditForm.inputPrice.$error.number">
            Enkel getallen toegelaten!
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="wishUrl" class="form-control-label">Website</label>
        <input 	type="text"
                class="form-control"
                id="WishUrl"
                ng-model="wishDetailsEditCtrl.wish.url"
                placeholder="Link naar externe website"/>
      </div>
      <div class="form-group">
        <label for="wishDescription" class="form-control-label">Beschrijving</label>
        <textarea class="form-control" rows="3"
                  id="wishDescription"
                  ng-model="wishDetailsEditCtrl.wish.description"
                  placeholder="Geef een korte beschrijving van je wens"/>
        </textarea>
      </div>
      <div class="form-group">
        <label for="wishColor" class="form-control-label">Kleur</label>
        <input 	type="text"
                class="form-control"
                id="wishColor"
                ng-model="wishDetailsEditCtrl.wish.color"
                placeholder="Gewenste kleur"/>
      </div>
      <div class="form-group">
        <label for="wishSize" class="form-control-label">Grootte/Maat</label>
        <input 	type="text"
                class="form-control"
                id="WishSize"
                ng-model="wishDetailsEditCtrl.wish.size"
                placeholder="Gewenste maat"/>
      </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="wishDetailsEditCtrl.ok()">Opslaan</button>
    <button class="btn btn-danger" type="button" ng-click="wishDetailsEditCtrl.cancel()">Annuleer</button>
</div>
