<div class="row">
	<div ng-if="wishCtrl.getCurrentReceiver()">

		<h3>Lijst van {{wishCtrl.getCurrentReceiverName()}}</h3>
		<hr/>

		<div class="col-md-3" ui-view >
			<div class="thumbnail create">
				<button type="button" class="btn btn-create"
								ui-sref="gimmi.wishlist.wish.create">
					<span class="glyphicon glyphicon-plus"></span>
					<p>Creëer een cadeau idee</p>
				</button>
			</div> <!-- /Thumbnail -->

		</div> <!-- /col-md-4 -->

		<div ng-if="wishCtrl.getCurrentReceiver()" ng-repeat="wish in wishCtrl.wishes | filter: {receiverID: wishCtrl.getCurrentReceiverId()}"
				 class="col-md-3">

			<div class="thumbnail" ng-class="{'reserved': wish.status === 'reserved'}">

					<button type="button"	class="close"
								ng-click="wishCtrl.deleteWish(wish)" >
								<span class="glyphicon glyphicon-trash"></span>
					</button>
					<button type="button" class="btn btn-link btn-edit"
									ui-sref="gimmi.wishlist.wish.edit({wishID:wish.id})">
									<span class="glyphicon glyphicon-pencil"></span>
					</button>

				<p class="title">{{wish.title}}</p>
				<p class="price">{{wish.price | currency : "€" : 2}}</p>
				<p><button type="button"  ng-if="wish.status === 'reserved'"
															 		ng-click="wishCtrl.setFree(wish)"
															 		class="text-capitalize btn btn-reserved">
				    {{wish.status}}
				</button>
				<button type="button"  ng-if="wish.status !== 'reserved'"
															 		ng-click="wishCtrl.reserve(wish)"
															 		class="btn btn-default">
				    Reserveer
				</button></p>

			</div> <!-- /Thumbnail div -->

		</div> <!-- /col-md-4 /repeat-->
	</div> <!-- /receiver found -->

	<div class="col-md-12" ui-view ng-if="! wishCtrl.getCurrentReceiver()">
		<h4>Sorry, geen lijst gevonden voor {{wishCtrl.getCurrentReceiverName()}}</h4>
		<p>Under construction: Binnenkort kan u hier meteen een lijst aanmaken voor deze persoon.</p>

	</div> <!-- /col-md-12 -->
</div> <!-- /row -->
