<div [formGroup]='parentFormGroup'>
    <div class="input-group my-2">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <fa-icon [icon]="passwordIcon"></fa-icon>
            </span>
        </div>
        <input 
            [type]="showPassword ? 'text' : 'password'" 
            class="form-control" 
            [placeholder]="placeholder"
            [formControlName]="controlName">
        <div class="input-group-append">
            <button 
                type="button" 
                class="btn btn-outline-secondary border-secondary" 
                (click)="toggleShowPassword()">
                <fa-icon [icon]="showPasswordIcon"></fa-icon>
            </button>
        </div>
    </div>
</div>