<div [formGroup]='parentFormGroup'>
    <label *ngIf='label'>{{label}}</label>
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <fa-icon [icon]="passwordIcon"></fa-icon>
            </span>
        </div>
        <input 
            [type]="showPassword ? 'text' : 'password'" 
            class="form-control" 
            [placeholder]="placeholder"
            [formControlName]="controlName">
        <div class="input-group-append">
            <button 
                type="button" 
                class="btn btn-outline-secondary border-secondary" 
                (click)="toggleShowPassword()">
                <fa-icon [icon]="showPasswordIcon"></fa-icon>
            </button>
        </div>
    </div>
    <div id="passwordErrors" class="form-text text-danger"
        *ngIf="!parentFormGroup.get(controlName).valid && parentFormGroup.get(controlName).touched">
        <small *ngIf="parentFormGroup.get(controlName).errors?.required">Wachtwoord is een verplicht veld.</small>
    </div>
</div>