
<div ngbDropdown class="d-inline-block">
    <div ngbDropdownToggle>
        <img *ngIf="currentUser.loginStrategy === 'facebook'" class="rounded-circle avatar mr-1"
            [src]="currentUser.accounts.facebook.profile_pic">
        <fa-icon *ngIf="currentUser.loginStrategy !== 'facebook'" [icon]="userIcon" size="2x" class="mr-1"></fa-icon>
        <span class="mr-1 align-baseline">{{currentUser.firstName}}</span>
    </div>
    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
        <a ngbDropdownItem [routerLink]="['/people', currentUser.id]">Mijn wensenlijst</a>
        <a ngbDropdownItem [routerLink]="['/users', currentUser.id]" >Mijn gegevens</a>
        <div class="dropdown-divider"></div>
        <gimmi-logout-button [currentUser]="currentUser"></gimmi-logout-button>
    </div>
</div>