<h2>Vervang je vergeten paswoord</h2>
<ngb-alert type='danger' *ngIf='invalidToken'>
    <p>
        We kunnen u helaas niet verder helpen. Uw link is ofwel vervallen (= ouder dan 1u) of ongeldig.
    </p>
    <p>
        Om uw wachtwoord reset opnieuw aan te vragen: 
        <gimmi-forgot-password-link linkText='klik hier'></gimmi-forgot-password-link>
    </p>
</ngb-alert>
<form *ngIf='!invalidToken' class='form' [formGroup]="resetPasswordForm" (submit)='saveNewPassword()'>
    <gimmi-password-check
        [parentFormGroup]="resetPasswordForm"></gimmi-password-check>
    <button type="submit" class="btn btn-danger mt-3" [disabled]='!resetPasswordForm.valid'>Wijzig wachtwoord</button>
</form>

