<!-- Template for gift feedback popup -->
<div class="modal-header">
    <h4 class="modal-title">Deze {{receivedWishesPopupCtrl.wishes.length}} cadeaus kreeg {{receivedWishesPopupCtrl.receiver.firstName}} al dankzij Gimmi</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="receivedWishesPopupCtrl.cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card-columns-popup">
        <div ng-repeat="wish in receivedWishesPopupCtrl.wishes">
            <!-- Wish item container -->
            <div class="card shadow mt-1">
                <!-- https://stackoverflow.com/questions/43009351/how-to-make-links-work-with-card-img-overlay-in-bootstrap-v4 -->
                <div class="position-relative">
                    <cl-image class="card-img-top img-fluid rounded w-100 mb-2" public-id="{{wish.image.public_id}}" version="{{wish.image.version}}"
                        class="thumbnail inline">
                        <cl-transformation fetch-format="auto" />
                    </cl-image>
                </div>
                <div class="card-block p-1">
                    <p class="wishCardTitle text-dark text-capitalize">{{wish.title}}</p>
                    <!-- <a class="wishCardTitle text-dark text-capitalize pointer" ng-class="{'text-muted': wishCtrl.reservationStatus(wish) === 'reserved' }"
                        ui-sref="gimmi.wishlist.wish({wishID: wish._id})">{{wish.title}}</a> -->
                    <p class="card-text mx-auto my-1 text-left font-weight-bold" ng-class="{'text-muted': wishCtrl.reservationStatus(wish) === 'reserved' }">{{wish.price
                        | currency : "€" : 2}}</p>
                </div>
                <!-- <div class="card-footer text-muted p-1">
                    <button class="btn btn-light mx-1 p-1 text-muted" ui-sref="gimmi.wishlist.wish({wishID: wish._id})"><i class="fa fa-info"
                            aria-hidden="true" uib-tooltip="Bekijk de details" tooltip-class="customTooltip" tooltip-placement="top-left"></i></button>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-outline-danger" type="button" ng-click="receivedWishesPopupCtrl.cancel()">Sluiten</button>
</div>