<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <h3>Communiceer uw lijst</h2>
      <button class="btn btn-social btn-facebook btn-sm" ng-click="sendWishlistCtrl.postOnFacebook()"><i class="fa fa-facebook mr-1" aria-hidden="true"></i><i class="fa fa-pencil-square-o mr-2" aria-hidden="true"></i> Post een link op uw Facebookprofiel</button>
      <button class="btn btn-social btn-facebook btn-sm" ng-click="sendWishlistCtrl.sendToFacebookFriends()"><i class="fa fa-facebook mr-1" aria-hidden="true"></i><i class="fa fa-comment mr-2" aria-hidden="true"></i>Stuur de link in een privébericht naar uw Facebookvrienden</button>
      <button class="btn btn-social btn-facebook btn-sm" ng-click="sendWishlistCtrl.shareOnFacebook()"><i class="fa fa-facebook mr-1" aria-hidden="true"></i><i class="fa fa-share-alt mr-2" aria-hidden="true"></i> Deel de link met facebookvrienden of in evenementen/groepen</button>
      <h6>Kopieer deze link <a href="{{sendWishlistCtrl.url}}" class="label label-default" target="_blank">{{sendWishlistCtrl.url}}</a></h6>
    </div>
  </div>
</div>
