<div class="row">
	<div ng-if="wishlistCtrl.currentReceiver">

		<h3>Lijst van {{wishlistCtrl.currentReceiver.fullName}}</h3>
		<hr/>

		<div class="col-md-3" ui-view >
			<div class="thumbnail create">
				<button type="button" class="btn btn-create"
								ui-sref="gimmi.wishlist.newWish">
					<span class="glyphicon glyphicon-plus"></span>
					<p>Creëer een cadeau idee</p>
				</button>
			</div> <!-- /Thumbnail -->

		</div> <!-- /col-md-4 -->

		<div ng-if="wishlistCtrl.currentReceiver" ng-repeat="wish in wishlistCtrl.wishes | filter: {receiver: wishlistCtrl.currentReceiver._id}"
				 class="col-md-3">
			<div ui-view="wishlist_item"></div>
		</div> <!-- /col-md-4 /repeat-->
	</div> <!-- /receiver found -->

	<div class="col-md-12" ui-view ng-if="! wishlistCtrl.currentReceiver">
		<h4>Sorry, geen lijst gevonden.</h4>

	</div> <!-- /col-md-12 -->
</div> <!-- /row -->
