<!-- No current receiver found -->
<div class="container relative" ui-view ng-if="! wishlistCtrl.currentReceiver">
	<h4>Sorry, geen lijst gevonden.</h4>
</div>

<div ng-if="wishlistCtrl.currentReceiver">
	<!-- Wishlist header -->
	<blockquote class="blockquote pl-3 mt-2">
		<div class="row mb-2">
			<div class="col-sm-auto">
				<h1>{{wishlistCtrl.currentReceiver.firstName}} {{wishlistCtrl.currentReceiver.lastName}}</h1>
			</div>
			<div class="col-sm-4 float-left">
				<a class="badge badge-pill badge-secondary float-left" ng-show="wishlistCtrl.userIsReceiver" ui-sref="gimmi.wishlist.send">
					Verstuur mijn lijst
				</a>
				<a class="badge badge-pill badge-secondary float-right" ng-show="!wishlistCtrl.userIsReceiver" ui-sref="gimmi.wishlist({receiverID: wishlistCtrl.currentUserID})">
					Ga naar mijn lijst
				</a>
			</div>
		</div>
		<!-- Extra info over de persoon -->
		<div class="row">
			<div class="col col-12 col-md-auto">
				<div class="h6">
					Waarmee kan je Stijn een plezier doen?
				</div>
				<div class="font-sm">
					<ul>
						<li ng-repeat="like in wishlistCtrl.extraInfo.likes">
							<span ng-if="!like.url">{{like.text}}</span>
							<a ng-if="like.url" ng-href="{{like.url}}" target="_blank">{{like.text}}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col col-12 col-md-auto">
				<div class="h6">Wat krijgt Stijn liever niet?</div>
				<div class="font-sm">
					<ul>
						<li ng-repeat="dislike in wishlistCtrl.extraInfo.dislikes">
							{{dislike.text}}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</blockquote>

	<!-- Lijst van wensen -->
	<blockquote class="blockquote pl-3 ">
		<h3>Wensenlijst</h3>
	</blockquote>
	<div class="card-columns ml-3 mr-3">
		<!-- Create wish form -->
		<div ui-view="wish_create"></div>
		<!-- /Create wish form -->

		<!-- Show all wishes for the current receiver -->
		<div ng-if="wishlistCtrl.currentReceiver" ng-repeat="wish in wishlistCtrl.wishes | orderBy: '-createdAt'">
			<div ui-view="wishlist_item"></div>
		</div> <!-- /ng-repeat -->
		<!-- /Show all wishes for the current receiver -->

	</div> <!-- End of wishlist -->

</div>