<!-- Wish item container -->
<div class="card shadow mt-1">
   <!-- https://stackoverflow.com/questions/43009351/how-to-make-links-work-with-card-img-overlay-in-bootstrap-v4 -->
  <div class="position-relative">
    <cl-image class="card-img-top img-fluid rounded w-100 mb-2" public-id="{{wish.image.public_id}}" version="{{wish.image.version}}" class="thumbnail inline">
      <cl-transformation fetch-format="auto" />
    </cl-image> 
    <div class="card-img-overlay p-1 text-center h6" 
         ng-class="{blurredCardOverlay: wishCtrl.reservationStatus(wish) !== 'unreserved'}"
         ng-click="wishCtrl.goToWishDetail(wish)">
        <span class="w-75 badge badge-pill badge-warning text-center"
              ng-if="wishCtrl.reservationStatus(wish) === 'reserved'" ng-show="!wishCtrl.reservedByUser(wish.reservation.reservedBy)">
              Gereserveerd
        </span>
        <span class="w-75 badge badge-pill badge-info text-center" 
              ng-if="wishCtrl.reservationStatus(wish) === 'reserved'" ng-show="wishCtrl.reservedByUser(wish.reservation.reservedBy)">
              Je reservatie <i class="fa fa-ban ml-2 text-warning" aria-hidden="true" uib-tooltip="Annuleer je reservatie" tooltip-placement="bottom-right" tooltip-class="customTooltip" ng-click="wishCtrl.deleteReservation(wish)"></i>
        </span>
        <span class="w-75 badge badge-pill badge-success text-center" ng-if="wishCtrl.reservationStatus(wish) === 'fulfilled'">
          Ontvangen
        </span>
        <button class="btn btn-outline-danger btn-feedback-action text-center mt-1" ng-click="wishCtrl.openFeedbackPopup(wish)"
              ng-if="wishCtrl.reservationStatus(wish) === 'reserved'" ng-show="wishlistCtrl.userIsReceiver"
              uib-tooltip="Geef feedback op je cadeau"
              tooltip-placement="bottom-right" tooltip-class="customTooltip">
              Cadeau al ontvangen? Klik hier!
      </button>
    </div>
  </div>
  <div class="card-block p-1">
    <a class="wishCardTitle text-dark text-capitalize pointer" ng-class="{'text-muted': wishCtrl.reservationStatus(wish) === 'reserved' }" ui-sref="gimmi.wishlist.wish({wishID: wish._id})">{{wish.title}}</a>
    <p class="text-muted text-truncate ml-1 my-1" ng-hide="wishCtrl.receiverIsCreator(wish.createdBy._id, wishlistCtrl.currentReceiver._id)">Idee van {{wish.createdBy.firstName + " " + wish.createdBy.lastName.substring(0,1) + "."}}</p>
    <p class="card-text mx-auto my-1 text-left font-weight-bold" ng-class="{'text-muted': wishCtrl.reservationStatus(wish) === 'reserved' }">{{wish.price | currency : "€" : 2}}</p>
  </div>
  <div class="card-footer text-muted p-1">
    <button class="btn btn-light mx-1 p-1 text-muted" ui-sref="gimmi.wishlist.wish({wishID: wish._id})"><i class="fa fa-info" aria-hidden="true" uib-tooltip="Bekijk de details" tooltip-class="customTooltip" tooltip-placement="top-left"></i></button>
    <a class="btn btn-light mx-1 p-1 text-muted" href="{{wish.url}}" target="_blank" ng-show="wish.url"><i class="fa fa-globe" aria-hidden="true" uib-tooltip="Ga naar website voor meer info" tooltip-class="customTooltip" tooltip-placement="top-left"></i></a>
    <button class="btn btn-light mx-1 p-1 text-muted" uib-tooltip="Reserveer" tooltip-class="customTooltip" tooltip-placement="top-left" href="" ng-show="wishCtrl.reservationStatus(wish) === 'unreserved'" ng-click="wishCtrl.addReservation(wish, ApplicationCtrl.currentUser._id, 'No reason', wishlistCtrl.currentReceiver)"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
    <button class="btn btn-light mx-1 p-1 text-muted" uib-tooltip="Kopieer naar je eigen lijst" tooltip-class="customTooltip" tooltip-placement="top-left" href="" ng-hide="wishlistCtrl.userIsReceiver" ng-click="wishCtrl.copy(wish)"><i class="fa fa-clone" aria-hidden="true"></i></button>
    <button class="btn btn-light mx-1 p-1 text-muted" uib-tooltip="Wijzig" tooltip-class="customTooltip" tooltip-placement="top-right" href="" ng-show="wishlistCtrl.userIsReceiver || wishCtrl.userIsCreator(wish.createdBy._id)" ng-click="wishCtrl.edit(wish)"><i class="fa fa-edit" aria-hidden="true"></i></button>
    <button class="btn btn-light mx-1 p-1 text-muted" uib-tooltip="Verwijder" tooltip-class="customTooltip" tooltip-placement="top-right" href="" ng-show="wishlistCtrl.userIsReceiver || wishCtrl.userIsCreator(wish.createdBy._id)" ng-click="wishCtrl.deleteWish(wish)"><i class="fa fa-trash" aria-hidden="true"></i></button>
  </div>
</div>

<!-- Template for delete wish popup -->
<script type="text/ng-template" id="deleteVerification.html">

  <div class="modal-header" style="color:#000000">
    <h3 class="modal-title" id="modal-title">
      Bevestiging voor verwijderen
    </h3>
  </div>

  <div class="modal-body" id="modal-body" style="color:#000000">
    Ben je zeker dat je <b>"{{deletePopupCtrl.wishTitle}}"</b> wilt verwijderen?
  </div>

  <div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="deletePopupCtrl.ok()">Ja</button>
    <button class="btn btn-danger" type="button" ng-click="deletePopupCtrl.cancel()">Nee</button>
  </div>

</script>
<!-- Template for warning on copy popup -->
<script type="text/ng-template" id="copyWishWarning.html">

  <div class="modal-header" style="color:#000000">
    <h3 class="modal-title" id="modal-title">
      Wens is al eens gekopieerd
    </h3>
  </div>

  <div class="modal-body" id="modal-body" style="color:#000000">
    Je hebt <b>"{{copyWarningPopupCtrl.title}}"</b> al eens gekopieerd naar je lijst.<br/> Ben je zeker dat je deze wens nog eens wilt kopiëren?
  </div>

  <div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="copyWarningPopupCtrl.ok()">Ja</button>
    <button class="btn btn-danger" type="button" ng-click="copyWarningPopupCtrl.cancel()">Nee</button>
  </div>

</script>
<!-- Template for wish reservation popup -->
<script type="text/ng-template" id="wishReservation.html">
  <div class="modal-header" style="color:#000000">
    <h3 class="modal-title" id="modal-title">
      Reserveer {{wishReservationPopupCtrl.wishTitle}}
    </h3>
  </div>

  <div class="modal-body" id="modal-body" style="color:#000000">
    <form name="wishReservationForm" class="create-form" role="form" novalidate>
      <div class="form-group">
        <label for="handoverDate" class="form-control-label">Wanneer geef je het cadeau aan {{wishReservationPopupCtrl.receiverName}}?</label>
        <input type="date" class="form-control" id="handoverDate" name="handoverDate" ng-model="wishReservationPopupCtrl.reservation.handoverDate" required>
        <small id="handoverDateHelp" class="form-text text-muted">Je reservatie blijft onzichtbaar voor {{wishReservationPopupCtrl.receiverName}} tot na deze datum. Zo blijft het een verrassing!</small>
      </div>
      <div class="form-group">
        <label for="reservationReason" class="form-control-label">Voor welke gelegenheid wil je deze cadeau geven?</label>
        <select class="form-control" id="reservationReason" ng-model="wishReservationPopupCtrl.reservation.reason" required>
                <option value="" disabled selected hidden>Kies een reden</option>
                <option value="Verjaardag">Verjaardag</option>
                <option value="Housewarming">Housewarming</option>
                <option value="Geboorte">Geboorte</option>
                <option value="Huwelijk">Huwelijk</option>
                <option value="Afscheid collega">Afscheid collega</option>
                <option value="Afscheid">Afscheid</option>
                <option value="Vrijgezellenfeest">Vrijgezellenfeest</option>
                <option value="Vakantie">Vakantie</option>
                <option value="Communie / Lentefeest">Communie / Lentefeest</option>
                <option value="Vaderdag">Vaderdag</option>
                <option value="Moederdag">Moederdag</option>
                <option value="Sinterklaas">Sinterklaas</option>
                <option value="Kerstmis">Kerstmis</option>
                <option value="Nieuwjaar">Nieuwjaar</option>
                <option value="Zomaar...">Zomaar...</option>
            </select>
      </div>
  </div>
  </form>

  <div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="wishReservationPopupCtrl.ok()">Reserveer</button>
    <button class="btn btn-danger" type="button" ng-click="wishReservationPopupCtrl.cancel()">Annuleer</button>
  </div>

</script>