<!-- Wish item container -->
<div class="col-sm-3 col-lg-3 mb-50 mb-xss-30 wish">
  <!-- wish image -->
  <div class="wish-img">
    <div class='wish-special font-alt' ng-if="wishCtrl.reservationStatus(wish) === 'reserved'">
      <span >RESERVATIE TEST</span>
        <span ng-show="!wishCtrl.reservedByUser(wish.reservation.reservedBy)">Gereserveerd</span>
        <span ng-show="wishCtrl.reservedByUser(wish.reservation.reservedBy)">Gereserveerd door u</span>
    </div>
    <div class='pic'>
      <div ng-hide="wish.image" class="wish-image" style='background-image: url("layout/avonmore_shop_test/images/wish_item_bg.png");'></div>
      <div ng-show="wish.image" class="wish-image" style='background-image: url("{{wish.image}}");'></div>
    </div>
    <div class='wish-hover'>
      <!-- wish button container -->
      <div class='wish-button-cont'>
        <div class='wish-action'>
          <a class="button button-small button-shadow" ui-sref="gimmi.wishlist.wish({wishID: wish._id})">Toon meer details</a>
        </div>
        <div class='wish-action' ng-show="wishCtrl.reservationStatus(wish) === 'unreserved'">
          <a class="button button-small button-shadow" ng-click="wishCtrl.addReservation(wish, ApplicationCtrl.currentUser._id, 'No reason')">Ik reserveer dit ...</a>
        </div>
        <div class='wish-action' ng-show="wishCtrl.reservationStatus(wish) === 'reserved' && wishCtrl.reservedByUser(wish.reservation.reservedBy)">
          <a class="button button-small button-shadow" ng-click="wishCtrl.deleteReservation(wish)">Annuleer uw reservatie</a>
        </div>
        <div class='wish-action' ng-hide="wishCtrl.userIsReceiver">
          <a class="button button-small button-shadow" ng-click="wishCtrl.copy(wish)">Dit wil ik ook! {{wish.receiver}}</a>
        </div>
        <div class='wish-action' ng-show="wishCtrl.userIsReceiver || wishCtrl.userIsCreator(wish.createdBy)">
          <a class="button button-small button-shadow" ng-click="wishCtrl.edit(wish)">Wijzig de wens</a>
          <script type="text/ng-template" id="editWish.html">

            <div class="modal-header" style="color:#000000">
                <h3 class="modal-title" id="modal-title">
                  Wijzig {{editPopupCtrl.wish.title}}
                </h3>
            </div>

            <div class="row modal-body" id="modal-body" style="color:#000000">
              <form name="wishEditForm"
            				class="create-form"
            				role="form"
            				novalidate>
                <div class='pic'>
                  <img class="img-thumbnail" ng-src="{{editPopupCtrl.wish.image}}" />
                </div>
                <div class="form-group">
            			<input 	type="text"
            							class="form-control"
            							id="WishTitle"
            							ng-model="editPopupCtrl.wish.title"
            							placeholder="Titel"
            							required/>
            		</div>
            		<div class="form-group">
            			<input 	type="number"
            							class="form-control"
            							name="inputPrice"
            							id="WishPrice"
            							placeholder="Prijs in € (enkel getal ingeven)"
            							ng-model="editPopupCtrl.wish.price"/>
            				<span ng-show="wishEditForm.inputPrice.$error.number">
            					Enkel getallen toegelaten!
            			</span>
            		</div>
              </div>
            </form>

            <div class="modal-footer">
                <button class="btn btn-warning" type="button" ng-click="editPopupCtrl.ok()">Opslaan</button>
                <button class="btn btn-warning" type="button" ng-click="editPopupCtrl.cancel()">Annuleer</button>
            </div>

          </script>
        </div>
        <div class='wish-action' ng-show="wishCtrl.userIsReceiver || wishCtrl.userIsCreator(wish.createdBy)">
          <a class="button button-small button-shadow" ng-click="wishCtrl.deleteWish(wish)" >Verwijder dit cadeau</a>
          <script type="text/ng-template" id="deleteVerification.html">

            <div class="modal-header" style="color:#000000">
                <h3 class="modal-title" id="modal-title">
                  Wilt u verwijderen?
                </h3>
            </div>

            <div class="row modal-body" id="modal-body" style="color:#000000">
              Bent u zeker dat u <b>"{{deletePopupCtrl.wishTitle}}"</b> wilt verwijderen?
            </div>

            <div class="modal-footer">
                <button class="btn btn-warning" type="button" ng-click="deletePopupCtrl.ok()">Ja</button>
                <button class="btn btn-warning" type="button" ng-click="deletePopupCtrl.cancel()">Nee</button>
            </div>

          </script>
        </div>
      </div>
      <!-- End wish button container -->
    </div>
  </div>
  <!-- End wish image -->
  <div class="wish-descr">
    <div class="wish-title font-alt" style="color:#000000">
      {{wish.title}}
    </div>
    <div class="wish-price ">
      {{wish.price | currency : "€" : 2}}
    </div>
  </div>
</div>
<!-- End wish item container -->
