<h4>Login met je email en wachtwoord</h4>
<div *ngIf="loggedInUser" class="alert alert-info">
    Je bent al ingelogd momenteel als <strong>{{loggedInUser.firstName}} {{loggedInUser.lastName}}</strong>.
    <ul>
        <li>Als je verder wilt met de huidige account: <a [routerLink]="['/']">ga naar homepagina</a>.</li>
        <li>Als je toch met een andere account wilt inloggen, kan je dat hier doen. Je wordt dan automatisch uitgelogd voor je
        huidige account.</li>
    </ul>
</div>
<div *ngIf="redirectUrl" class="alert alert-info">
    Je probeerde {{redirectUrl}} te bereiken, maar hiervoor moet je ingelogd zijn. <br/>
    Na een succesvolle login zullen we je meteen naar deze pagina brengen.
</div>
<div *ngIf="authenticationError" class="alert alert-danger">
    De combinatie emailadres / wachtwoord is niet correct. <br /> 
    <a [routerLink]="['/users/forgotpassword']" [queryParams]="{e:loginForm.get('email').value}">Wachtwoord vergeten?</a>
</div>

<form [formGroup]='loginForm' (ngSubmit)='login()'>
    <gimmi-email-input 
        [parentFormGroup]='loginForm'
        bindedQueryParam='e'>
    </gimmi-email-input>
    <div class="input-group my-2">
        <div class="input-group-prepend">
            <span class="input-group-text"><fa-icon [icon]="passwordIcon"></fa-icon></span>
        </div>
        <input 
            [type]="showPassword ? 'text' : 'password'" 
            class="form-control"
            placeholder="Wachtwoord" 
            formControlName="password">
        <div class="input-group-append">
            <button 
                type="button" 
                class="btn btn-outline-secondary border-secondary"
                (click)="toggleShowPassword()">
                <fa-icon [icon]="showPasswordIcon"></fa-icon></button>
        </div>
    </div>
    <small id="forgottenPassword" class="form-text text-muted my-2 float-right">
        <a [routerLink]="['/users/forgotpassword']" [queryParams]="{e:loginForm.get('email').value}">Wachtwoord vergeten?</a>
    </small>
    <div>
        <button type="submit" class="btn btn-danger my-3" [disabled]="!loginForm.valid || !loginForm.touched">Login</button>
    </div>
    Als dit je eerste bezoek is: <a [routerLink]="['/users/register']" [queryParams]="{e:loginForm.get('email').value}">klik hier om te registreren</a>
</form>
