<h4>Login met je email en paswoord</h4>
<div *ngIf="loggedInUser" class="alert alert-info">
    Je bent al ingelogd momenteel als <strong>{{loggedInUser.firstName}} {{loggedInUser.lastName}}</strong>.
    <ul>
        <li>Als je verder wilt met de huidige account: <a [routerLink]="['/']">ga naar homepagina</a>.</li>
        <li>Als je toch met een andere account wilt inloggen, kan je dat hier doen. Je wordt dan automatisch uitgelogd voor je
        huidige account.</li>
    </ul>
</div>
<div *ngIf="authenticationError" class="alert alert-danger">
    De combinatie emailadres / paswoord is niet correct. <br /> 
    Paswoord vergeten? <a [routerLink]="['/users/forgotpassword']">Klik hier</a>.
</div>

<form [formGroup]='loginForm' (ngSubmit)='login()'>
    <div class="input-group my-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><fa-icon [icon]="mailIcon"></fa-icon></span>
        </div>
        <input
            type="text" 
            class="form-control"
            placeholder="Email (login)"
            formControlName="email"
            ng-change="loginCtrl.saveMailInRootScope()">
    </div>
    <div class="input-group my-2">
        <div class="input-group-prepend">
            <span class="input-group-text"><fa-icon [icon]="passwordIcon"></fa-icon></span>
        </div>
        <input 
            [type]="showPassword ? 'text' : 'password'" 
            class="form-control"
            placeholder="Paswoord" 
            formControlName="password">
        <div class="input-group-append">
            <button 
                type="button" 
                class="btn btn-outline-secondary border-secondary"
                (click)="toggleShowPassword()">
                <fa-icon [icon]="showPasswordIcon"></fa-icon></button>
        </div>
    </div>
    <small id="forgottenPassword" class="form-text text-muted my-2 float-right">
        <a [routerLink]="['/users/forgotpassword']">Paswoord vergeten?</a>
    </small>
    <div>
        <button type="submit" class="btn btn-danger my-3" [disabled]="!loginForm.valid || !loginForm.touched">Login</button>
    </div>
    Als dit je eerste bezoek is: <a [routerLink]="['/users/register']">klik hier om te registreren</a>
</form>
