<div class="container-fluid">
    <!-- Grote schermen -->
    <div class="jumbotron pt-1 d-none d-sm-block" id="jumbotron-landing">
        <div class="text-left margin-up">
            <h1 class="display-3">Het perfecte cadeau</h1>
            <h1>binnen handbereik...</h1>
            <p>.</p>
            <p>.</p>
            <p>.</p>
        </div>
    </div>
    <!-- Kleine schermen -->
    <div class="jumbotron pt-2 d-xs-block d-sm-none" id="jumbotron-landing">
        <div class="text-left">
            <h2 class="mb-0">Het perfecte cadeau</h2>
            <p class="text-light">binnen handbereik...</p>
            <p>.</p>
            <p>.</p>
        </div>
    </div>
</div>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">in 4 stappen...</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user-plus text-danger sr-icons" ng-click="lp.toRegistration()" uib-tooltip="Ga naar de registratiepagina" tooltip-class="customTooltip" tooltip-placement="bottom-left"></i>
                    <h3>Registreer</h3>
                    <p class="text-muted">Registreer je meteen op Gimmi. Er wordt automatisch een lijst voor u aangemaakt! (Het is ook mogelijk om anderen te registreren en een lijst voor hen aan te maken.)</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-list-alt text-danger sr-icons" ng-click="lp.toWishlist(ApplicationCtrl.currentUser._id)" uib-tooltip="Ga naar uw lijst" tooltip-class="customTooltip" tooltip-placement="bottom-left"></i>
                    <h3>Voeg wensen toe</h3>
                    <p class="text-muted">Voeg meteen zo veel mogelijk cadeaus toe die je wenst te krijgen. Kom regelmatig terug om deze te updaten!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane text-danger sr-icons" ng-click="lp.sendWishlist(ApplicationCtrl.currentUser._id)" uib-tooltip="Communiceer uw lijst" tooltip-class="customTooltip" tooltip-placement="bottom-left"></i>
                    <h3>Verspreid uw lijst</h3>
                    <p class="text-muted">Verstuur uw lijst naar al uw vrienden, zodat zij kunnen zien wat jij wilt!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gift text-danger sr-icons" uib-tooltip="Helaas geen link hier... Wacht geduldig tot iemand je een cadeau geeft." tooltip-class="customTooltip" tooltip-placement="bottom-left"></i>
                    <h3>Krijg cadeaus!</h3>
                    <p class="text-muted">Stop maar met het oefenen van je "Ooooh, zo'n leuk cadeau" gezicht. Vanaf nu krijg je enkel nog cadeaus die je écht wilt!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr class="primary">
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12 text-center">
                <i class="fa fa-facebook-square fa-2x mx-1" aria-hidden="true"></i>
                <i class="fa fa-linkedin-square fa-2x mx-1" aria-hidden="true"></i>
                <i class="fa fa-twitter-square fa-2x mx-1" aria-hidden="true"></i>
           </div>
        </div>
    </div>
</footer>