<div class="modal-header" style="color:#000000">
    <h3 class="modal-title" id="modal-title">
      Selecteer een afbeelding
      <button class="btn btn-danger btn-sm" type="button" ng-click="popupCtrl.cancel()">Annuleer</button>
    </h3>
</div>

<div class="modal-body" id="modal-body" style="color:#000000">
	<small id="editHelp" class="form-text text-muted mb-2 text-justify">Klik op één van onderstaande afbeeldingen en deze wordt automatisch aan je wens toegevoegd. <br/> Indien je andere afbeeldingen wenst, klik je op "Annuleer" en pas je de titel van de wens aan. Zoek daarna opnieuw.</small>
	<div class="container">
		<div class="row">
			<p ng-show="popupCtrl.noImages">Er zijn geen afbeeldingen gevonden voor "{{popupCtrl.searchTerm}}". Kies één van de onderstaande standaardafbeeldingen.</p>
			<div ng-if="popupCtrl.images" ng-repeat="image in popupCtrl.images track by $index" class="col-md-3">
				<img class="img-thumbnail" ng-if="image" ng-src="{{image}}" ng-click="popupCtrl.clickOnImage(image)" />
			</div>
			<div ng-if="!popupCtrl.images">
				<p> Searching... </p>
			</div>
		</div>
	</div>
</div>

<div class="modal-footer">
    <button class="btn btn-danger btn-sm" type="button" ng-click="popupCtrl.cancel()">Annuleer</button>
</div>
