<!-- Grote schermen -->
<div class="jumbotron d-none d-md-block jumbotron-gimmi-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4">
                <img src="../../assets/hand-gift-shutterstock_457784128.jpg" alt="hand giving gift"
                    class="img-fluid rounded">
            </div>
            <div class="col-md-9 col-lg-8">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-7">
                        <h5 class="text-dark text-right d-block d-md-none">Hoe krijg of geef je <strong>het perfecte
                                cadeau</strong>?</h5>
                        <h1 class="text-dark d-none d-md-block mt-lg-5">Hoe krijg of geef je <strong>het perfecte
                                cadeau</strong>?</h1>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-7 col-lg-6">
                        <ul class="list-unstyled mt-2 text-left">
                            <li class="font-weight-bold">
                                <fa-icon [icon]="checkIcon" class="text-white" size="lg"></fa-icon> Gratis
                            </li>
                            <li class="font-weight-bold">
                                <fa-icon [icon]="checkIcon" class="text-white" size="lg"></fa-icon> Zonder keuzestress
                            </li>
                            <li class="font-weight-bold">
                                <fa-icon [icon]="checkIcon" class="text-white" size="lg"></fa-icon> Gegarandeerd juist
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-7">
                        <a class="btn btn-lg btn-warning mt-2 font-weight-bold shadow" [hidden]="currentUser"> Start nu met
                            Gimmi en ontdek het zelf!</a>
                        <a class="btn btn-lg btn-warning mt-2 font-weight-bold shadow" *ngIf="currentUser"> Ga naar je
                            overzichtspagina, {{ currentUser.name }}!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Kleine schermen -->
<div class="jumbotron d-block d-md-none jumbotron-gimmi-blue">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h5 class="text-dark text-left d-block d-md-none">Hoe krijg of geef je <strong>het perfecte
                        cadeau</strong>?</h5>
            </div>
            <div class="col-4">
                <img src="../../assets/hand-gift-shutterstock_457784128.jpg" alt="hand giving gift"
                    class="img-fluid rounded">
            </div>
            <div class="col-12">
                <ul class="list-unstyled mt-2 text-left">
                    <li class="font-weight-bold">
                        <fa-icon [icon]="checkIcon" class="text-white" size="lg"></fa-icon> Gratis
                    </li>
                    <li class="font-weight-bold">
                        <fa-icon [icon]="checkIcon" class="text-white" size="lg"></fa-icon> Zonder keuzestress
                    </li>
                    <li class="font-weight-bold">
                        <fa-icon [icon]="checkIcon" class="text-white" size="lg"></fa-icon> Gegarandeerd juist
                    </li>
                </ul>
            </div>
            <div class="col-12">
                <a class="btn btn-lg btn-warning mt-2 font-weight-bold shadow" [hidden]="currentUser"> Start nu met Gimmi en ontdek het zelf!</a>
                <a class="btn btn-lg btn-warning mt-2 font-weight-bold shadow" *ngIf="currentUser"> Ga naar je
                    overzichtspagina,
                    {{ currentUser.name }}!</a>
            </div>
        </div>
    </div>
</div>