
<div ngbDropdown class="d-inline-block">
    <div ngbDropdownToggle>
        <img *ngIf="currentUser.loginStrategy === 'facebook'" class="rounded-circle avatar mr-1"
            [src]="currentUser.accounts.facebook.profile_pic">
        <fa-icon *ngIf="currentUser.loginStrategy !== 'facebook'" [icon]="userIcon" size="2x" class="mr-1"></fa-icon>
    </div>
    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
        <a ngbDropdownItem [routerLink]="['/people', currentUser.id]">Mijn wensenlijst</a>
        <a ngbDropdownItem [routerLink]="['/users', currentUser.id]" >Mijn gegevens</a>
        <div class="dropdown-divider"></div>
        <a ngbDropdownItem [hidden]="currentUser.loginStrategy !== 'local'" (click)="logout()" href="">
            <div class="slide-container">
                <fa-icon [icon]="logoutIcon" class="mr-1"></fa-icon>Uitloggen
            </div>
        </a>
        <a ngbDropdownItem *ngIf="currentUser.loginStrategy === 'facebook'">
            <div class="btn btn-social btn-sm btn-facebook" (click)="logOutFacebook()">
                <fa-icon [icon]="facebookIcon"></fa-icon> Uitloggen
            </div>
        </a>
    </div>
</div>