<form class="create-form" role="form" ng-submit="createWishCtrl.createWish(createWishCtrl.newWish, createWishCtrl.currentReceiverID)" novalidate>
	<div class="form-group">
		<input type="text" class="form-control" id="newWishTitle" ng-model="createWishCtrl.newWish.title" placeholder="Titel" />
	</div>
	<div class="form-group">
		<input type="text" class="form-control" id="newWishPrice" ng-model="createWishCtrl.newWish.price" placeholder="Prijs"/>
	</div>
	<button type="submit" class="btn btn-info btn-lg">Toevoegen</button>
	<button type="button" class="btn btn-default btn-lg pull-right" ng-click="createWishCtrl.cancelCreating();">Annuleer</button>
</form>
