<!-- Create wish card -->
<div class="card border border-danger shadow">
	<div class="position-relative">
		<img class="card-img-top rounded img-fluid my-3" alt="Afbeelding van wens" ng-if="createWishCtrl.newWish.image" ng-src="{{createWishCtrl.newWish.image}}"/>
		<img class="card-img-top rounded img-fluid my-3" alt="Standaard wensafbeelding" ng-if="!createWishCtrl.newWish.image" ng-src="{{createWishCtrl.defaultImage}}"/>
		<div class="card-img-overlay pt-4 blurredCardOverlay">
			<p ng-hide="createWishCtrl.newWish.title" class="text-center pt-3">
				<i class="fa fa-plus fa-3x" aria-hidden="true"></i>
				<br/>
				<span class="h6 font-weight-bold">Voeg een wens toe</span>
			</p>
			<a href="" 	ng-show="createWishCtrl.newWish.title" 
						google-image-search 
						data-search-term="{{createWishCtrl.newWish.title}}"
						data-image-result="createWishCtrl.newWish">
				<i class="fa fa-search fa-2x mr-1" aria-hidden="true"></i> Klik om een andere afbeelding te kiezen
			</a>
		</div>
	</div>
	<form name="wishCreateForm" class="m-2" role="form" novalidate="">
		<div class="form-group">
			<input  type="text" class="form-control form-control-sm" id="newWishTitle" ng-model="createWishCtrl.newWish.title" 
					placeholder="Titel" required="" ng-keyup="$event.keyCode == 13 && createWishCtrl.goToPrice()">
		</div>
		<div class="form-group">
			<div class="input-group mb-2">
				<div class="input-group-prepend">
					<div class="input-group-text">€</div>
				</div>
				<input type="number" class="form-control form-control-sm" name="inputPrice" id="newWishPrice" placeholder="Prijs in €" 
					ng-model="createWishCtrl.newWish.price" ng-keyup="$event.keyCode == 13 && createWishCtrl.openImageSearch()">
			</div>
		</div>
		<div class="form-group">
			<input type="hidden" class="form-control form-control-sm" name="inputUrl" id="newWishUrl" ng-model="createWishCtrl.newWish.url"
			 placeholder="Link naar website met info over de wens">
		</div>
		<div class="form-group">
			<input type="hidden" class="form-control form-control-sm" id="newWishImage" ng-model="createWishCtrl.newWish.image" placeholder="Zoek een afbeelding">
		</div>
		<button type="button" class="btn btn-danger btn-sm float-md-left float-lg-right mb-1" 
				ng-show="createWishCtrl.newWish.image !== ''"
				ng-click="createWishCtrl.createWish(createWishCtrl.currentReceiverID, ApplicationCtrl.currentUser._id)" 
				ng-disabled="wishCreateForm.$invalid" disabled="disabled">
    		Toevoegen
		</button>
		<button class="btn btn-danger btn-sm float-md-left float-lg-right mb-1" type="button" id="searchImageBtn"
				ng-show="createWishCtrl.newWish.image === '' && createWishCtrl.newWish.title !== ''" 		
				cl-upload 
				 public-id=""
				 image-result="createWishCtrl.newWish.image" 
				 on-cancel="createWishCtrl.goToTitle()"
				 on-image-upload="createWishCtrl.createWish(createWishCtrl.currentReceiverID, ApplicationCtrl.currentUser._id)">
		<i class="fa fa-image mr-1" aria-hidden="true"></i> Afbeelding</button>
		<button ng-show="createWishCtrl.newWish.title !== '' || createWishCtrl.newWish.price !== ''" type="button" class="btn btn-default btn-sm float-left mb-1 mr-1"
		 ng-click="createWishCtrl.reset();">
    		Reset
    	</button>
	</form>
</div>

