
<ng-template #customResultTemplate let-person="result" let-term="term">
    <img *ngIf="person.pic" [src]="person.pic" class="mr-2" style="width: 16px">
    <fa-icon *ngIf="!person.pic" [icon]="userIcon" class="mr-2"></fa-icon>
    <ngb-highlight [result]="person.name" [term]="term"></ngb-highlight>
</ng-template>

<div class="input-group">
    <label class="h6 mr-3 mt-1 d-xs-none d-md-inline-block">Zoek cadeau voor </label>
    <input  id="typeahead-basic" type="text" class="form-control form-control-sm" placeholder="..."
            [ngbTypeahead]="search" 
            [(ngModel)]="person" 
            [editable]="false" 
            [focusFirst]="true"
            [inputFormatter]="inputFormatter"
            [resultFormatter]="resultFormatter"
            [resultTemplate]="customResultTemplate"
            (selectItem)="onPersonSelect($event)"
    />
</div>
