<gimmi-navigation-bar></gimmi-navigation-bar>

<!-- Content -->
<div class="container-fluid my-3">
    <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12 text-center">
                <gimmi-social-buttons></gimmi-social-buttons>
            </div>
        </div>
        <!-- Privacy Policy -->
        <div class="row">
            <div class="col text-center mt-4">
                <gimmi-privacy-policy></gimmi-privacy-policy>
            </div>
        </div>
    </div>
</footer>