<nav class="navbar navbar-light navbar-expand-md bg-light justify-content-between sticky-top" >
    <!-- Navigatiebar content -->
    <div class="navbar-brand">
        <a class="logo">
            <img src="../../../assets/logoGIMMI.png" class="d-inline-block align-top rounded logo" alt="Gimmi logo">
        </a>
    </div>
    
    <div class="">
        <gimmi-people-search></gimmi-people-search>
    </div>
    
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
        &#9776;
    </button>
    <div class="navbar-collapse collapse justify-content-between" [ngbCollapse]="isNavbarCollapsed">
        <div>
            <!--placeholder to evenly space flexbox items and center links-->
        </div>
        
        <gimmi-user-menu></gimmi-user-menu>
    </div>
</nav>