<nav class="navbar navbar-light navbar-expand-md bg-light justify-content-between sticky-top" >
    <!-- Navigatiebar content -->
    <div class="navbar-brand">
        <a class="logo">
            <img src="../../../assets/logoGIMMI.png" class="d-inline-block align-top rounded logo" alt="Gimmi logo">
        </a>
    </div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-between" id="collapsingNavbar">
        <div>
            <!--placeholder to evenly space flexbox items and center links-->
        </div>
        <gimmi-people-search></gimmi-people-search>
        <gimmi-user-menu></gimmi-user-menu>
    </div>
</nav>