<div class="col-10 col-md-auto" *ngIf="items?.length">
    <div class="h6" [ngSwitch]="itemType">
        <span *ngSwitchCase="'likes'">Waarmee kan je {{firstName}} een plezier doen?</span>
        <span *ngSwitchCase="'dislikes'">Wat krijgt {{firstName}} liever niet?</span>
    </div>
    <div class="font-sm">
        <ul>
            <li *ngFor="let item of items">
                <span *ngIf="!item.url">{{item.text}}</span>
                <a *ngIf="item.url" [href]="item.url" target="_blank">{{item.text}}</a>
            </li>
        </ul>
    </div>
</div>