<div class="modal-header">
    <h3 class="modal-title">Verstuur een uitnodiging voor uw lijst</h3>
</div>
<div class="modal-body">
     <form>
        <div class="form-group">
            <textarea ng-model="invitationPopupCtrl.mailTo" type="text" class="form-control" id="mailAddresses" aria-describedby="Emailadresses" placeholder="Voeg hier de emailadressen toe die je wilt uitnodigen."></textarea>  
            <small id="emailHelp" class="form-text text-muted">Meerdere emailadressen scheiden door een komma (",")</small>
        </div>
     </form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="invitationPopupCtrl.ok()">Verzend de mail</button>
    <button class="btn btn-danger" type="button" ng-click="invitationPopupCtrl.cancel()">Annuleer</button>
</div>