<div class="modal-header">
    <h3 class="modal-title">Geef feedback op een ontvangen cadeau</h3>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="giftFeedbackForm">
        <div class="alert alert-info" role="alert">
            Je kreeg het cadeau "{{wish.title}}" van {{wish.reservation.reservedBy.fullName}}
        </div>
        <div class="mb-2">
            <label for="satisfaction" class="form-control-label" ngbAutofocus>Hoe blij ben je met het cadeau?</label><br />
            <ngb-rating [max]="5" 
                        (hover)="hoveredRate=$event" 
                        (leave)="hoveredRate=null"
                        formControlName="satisfaction"></ngb-rating> ({{ satisfactionLevels[hoveredRate-1] }})
        </div>
        <div class="form-group">
            <label class="form-control-label" for="receivedOn">Wanneer heb je het cadeau ontvangen?</label>
            <input type="date" class="form-control" formControlName="receivedOn">
        </div>
        <div class="form-group">
            <label for="message" class="form-control-label">Wil je nog een boodschap sturen naar
                {{wish.reservation.reservedBy.fullName}}?</label>
            <textarea   type="text" class="form-control" id="message" aria-describedby="message"
                        placeholder="Geef hier een bedankboodschap in die je wilt versturen"
                        formControlName="message"></textarea>
        </div>
        <div class="form-check">
            <input  class="form-check-input" type="checkbox" id="putBackOnList"
                    formControlName="putBackOnList">
            <label for="putBackOnList" class="form-check-label">Zet dit cadeau nogmaals op je wensenlijst</label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button"
            [disabled]="giftFeedbackForm.invalid" 
            (click)="saveGiftFeedback()"
            >Feedback opslaan</button>
    <button class="btn btn-outline-danger" type="button" (click)="activeModal.dismiss('Cancel')">Annuleer</button>
</div>