<div class="container" *ngIf='!person'>
    <ngb-alert>Sorry, geen lijst gevonden.</ngb-alert>
</div>

<div *ngIf='person'>
    <div class="row mb-2">
        <div class="col-auto">
            <h1>{{person?.firstName}} {{person?.lastName}}</h1>
        </div>
        <div class="col col-sm-4 float-left">
            <gimmi-share [personToShare]="person"></gimmi-share>
            <a  class="badge badge-pill badge-secondary float-right" 
                [hidden]='currrentUser?.id === person?.id'
                [routerLink]='["/people", currrentUser?.id]'
                *ngIf='currrentUser'>
                Ga naar mijn lijst
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <gimmi-extra-info 
                [firstName]="person.firstName" 
                [likes]="person.extraInfo?.likes" 
                [dislikes]="person.extraInfo?.dislikes"
                [personIsUser]="person?.id === currrentUser?.id"
                (extraInfoSaved)="updateExtraInfo($event)">
            </gimmi-extra-info>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <gimmi-wish-list [receiver]='person'></gimmi-wish-list>
        </div>
    </div>

</div>