<div class="container" *ngIf='!person'>
    <ngb-alert>Sorry, geen lijst gevonden.</ngb-alert>
</div>

<div *ngIf='person'>
    <div class="row mb-2">
        <div class="col-auto">
            <h1>{{person?.firstName}} {{person?.lastName}}</h1>
        </div>
        <div class="col col-sm-4 float-left">
            <a  class="badge badge-pill badge-secondary float-left" 
                [hidden]='currrentUser?.id !== person?.id'
                [routerLink]='["/people", person?.id, "share"]'
                *ngIf='person'>
                Verstuur mijn lijst
            </a>
            <a  class="badge badge-pill badge-secondary float-right" 
                [hidden]='currrentUser?.id === person?.id'
                [routerLink]='["/people", currrentUser?.id]'
                *ngIf='currrentUser'>
                Ga naar mijn lijst
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="alert alert-info" role="alert">
                <strong>Hier komt de extra info over de persoon</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <gimmi-wish-list [receiver]='person'></gimmi-wish-list>
        </div>
    </div>

</div>