<div [formGroup]='parentFormGroup'>
    <gimmi-password-input 
        [parentFormGroup]='parentFormGroup.get(controlName)' 
        controlName="password"
        label="Wachtwoord">
    </gimmi-password-input>
    <gimmi-password-input 
        [parentFormGroup]='parentFormGroup.get(controlName)' 
        controlName="passwordCheck"
        placeholder="Geef wachtwoord nogmaals in" 
        label="Wachtwoordcontrole">
    </gimmi-password-input>
</div>
<div id="passwordErrors" class="form-text text-danger"
    *ngIf="!parentFormGroup.get(controlName).valid 
            && parentFormGroup.get(controlName).touched">
    <small *ngIf="parentFormGroup.get(controlName).errors?.noPasswordMatch">De 2 wachtwoorden moeten overeenkomen.</small>
</div>