<div class="col-md-4">
  <h3>Login</h3>
  <div ng-show="loginCtrl.error" class="alert alert-danger">{{loginCtrl.errorMessage}}</div>
  <div ng-show="loginCtrl.test" class="alert alert-info">{{loginCtrl.test}}</div>
  <form class="form" ng-submit="loginCtrl.login()">
    <div class="form-group">
      <label>Emailadres</label>
      <input type="text" class="form-control" name="email" ng-model="loginCtrl.email" required>
    </div>
    <div class="form-group">
      <label>Paswoord</label>
        <input type="password" class="form-control" name="password" ng-model="loginCtrl.password" required>
      </div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="loginCtrl.disabled">Login</button>
      </div>
      Als dit je eerste bezoek is: <a ui-sref="gimmi.register_person">klik hier om te registreren</a>
  </form>
</div>
