<div class="containter m-4">
<div class="row">
  <div class="col-md-3">
    <!-- Working example of fblogin button, but calls "onlogin" twice <div class="fb-login-button" id="facebookLogin" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true"
      data-use-continue-as="false" scope="public_profile,email,user_friends" onlogin="angular.element($('#facebookLogin')).scope().loginCtrl.checkLoginStatus()"></div> -->
    <div class="btn btn-social btn-facebook my-4" ng-click="loginCtrl.logInFacebook()"><i class="fa fa-facebook mr-1" aria-hidden="true"></i> Aanmelden met Facebook</div>
  </div>
  <div class="col-md-4">
    <h4>Login met je email en paswoord</h4>
    <div ng-show="loginCtrl.error" class="alert alert-danger">
      De combinatie emailadres / paswoord is niet correct. <br/> Indien u uw paswoord vergeten bent, klik <a ui-sref="gimmi.forgotpassword">hier</a>.
    </div>
    <form class="form" ng-submit="loginCtrl.login()">
      <div class="form-group">
        <label>Emailadres</label>
        <input type="text" class="form-control" name="email" ng-model="loginCtrl.email" ng-change="loginCtrl.saveMailInRootScope()" required>
      </div>
      <div class="form-group">
        <label>Paswoord</label>
        <input type="password" class="form-control" name="password" ng-model="loginCtrl.password" required>
        <small id="forgottenPassword" class="form-text text-muted"><a ui-sref="gimmi.forgotpassword">Paswoord vergeten?</a></small>
      </div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="loginCtrl.disabled">Login</button>
      </div>
      Als dit je eerste bezoek is: <a ui-sref="gimmi.register_person">klik hier om te registreren</a>
    </form>
  </div>
</div>
</div>