<form name="receiverSearchForm" class="form-inline" ng-submit="" novalidate>
  <div class="input-group">
    <label class="h6 mr-3 mt-1 d-xs-none d-md-inline-block">Ik zoek een cadeau voor </label>
    <input  type="text" 
            class="form-control form-control-sm"
            placeholder="..." 
            ng-click="selected=null;" 
            ng-model="selected" 
            typeahead-template-url="app/people/receiver/receiverSearch.popup.tmpl.html"
            uib-typeahead="receiver as receiver.fullName for receiver in receiverSearchCtrl.receivers | filter:{fullName: $viewValue}
            | limitTo:8"
            typeahead-min-length="1" typeahead-no-results="noResults" typeahead-focus-first="true" ng-keyup="receiverSearchCtrl.showWishlist($event,
            selected)" >
    <!-- TODO: maak eerst een functie waar ng-submit naar kan verwijzen na het klikken op deze knop en voeg dan een input group button toe -->
    <!-- show-hint op type-ahead inputveld misvormt de input...
        typeahead-show-hint="true" 
    -->
  </div>
  <!-- <div ng-if="noResults && selected">
    Geen personen gevonden!
  </div> -->
  <!-- /custom-search-input --> 
</form>