<!-- Navigatiebar content -->
  <div class="navbar-brand">
    <a ui-sref="gimmi" class="logo">
      <img src="/layout/img/LogoGIMMI.png" class="d-inline-block align-top rounded logo" alt="Gimmi logo">
    </a>
  </div>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
  <div class="navbar-collapse collapse justify-content-between" id="collapsingNavbar">
    <div>
      <!--placeholder to evenly space flexbox items and center links-->
    </div>
    <div ui-view="receiverSearch"></div>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" ng-hide="ApplicationCtrl.currentUser._id" ui-sref="gimmi.login">
          <div class=""><span>Login</span></div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-hide="ApplicationCtrl.currentUser._id" ui-sref="gimmi.register_person">
          <div class=""><span>Registreer</span></div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-show="ApplicationCtrl.currentUser._id" ui-sref="gimmi.wishlist({receiverID: ApplicationCtrl.currentUser._id})" uib-tooltip="Ga naar uw lijst" tooltip-class="customTooltip" tooltip-placement="bottom-left">
          <div class=""><img class="rounded-circle logo mr-1" ng-src="{{ApplicationCtrl.currentUser.accounts.facebook.profile_pic}}"><span ng-hide="ApplicationCtrl.currentUser.accounts.facebook.profile_pic" class="fa fa-user-o mr-1" aria-hidden="true"></span>{{ApplicationCtrl.currentUser.firstName}}</div>
        </a>
      </li>
      <li class="nav-item pt-2">
        <a class="nav-link" ng-show="ApplicationCtrl.currentUser._id && !ApplicationCtrl.currentUser.accounts.facebook" ng-click="ApplicationCtrl.logout()">
          <div class="slide-container"><span class="fa fa-sign-out mr-1" aria-hidden="true"></span>Uitloggen</div>
        </a>
        <div class="btn btn-fb btn-sm" ng-show="ApplicationCtrl.currentUser.accounts.facebook" ng-click="ApplicationCtrl.logOutFacebook()"><i class="fa fa-facebook-official mr-1" aria-hidden="true"></i> Uitloggen</div>
      </li>
      <li class="nav-item"><a class="nav-link" href=""></a></li>
    </ul>
  </div>
