<div class="container" ng-hide="forgottenPasswordCtrl.requestDone === true">
    <h2>Vraag een paswoord reset aan</h2>
    <form class="col-7">
        <div class="form-group">
            <label for="email1" class="font-weight-bold">Emailadres van uw Gimmi-account</label>
            <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Geeft het emailadres van uw account in"
                ng-model="forgottenPasswordCtrl.email">
        </div>  
        <button type="button" class="btn btn-primary" ng-click="forgottenPasswordCtrl.requestReset()">Verstuur aanvraag</button>
    </form>
</div>

<div class="container" ng-show="forgottenPasswordCtrl.requestDone === true">
    <p class="mt-5">
        Uw paswoord reset werd aangevraagd. U zou binnen de 10 minuten een email moeten ontvangen met een paswoord reset link. Indien u deze mail niet ontvangt, controleer dan zeker uw spam folder. <br/>
        <em>Opgelet: u zal enkel een email ontvangen, als u een emailadres van een bestaande account ingeeft.</em>
    </p>
    <p>
        Om uw wachtwoord reset opnieuw aan te vragen: klik <a href="" ng-click="forgottenPasswordCtrl.requestDone = false">hier</a>
    </p>
</div>