<div class="container" ng-show="resetPasswordCtrl.validToken === true">
    <h2>Vervang je vergeten paswoord</h2>
    <form class="col-7">
        <div class="form-group">
            <small id="accountHelp" class="form-text text-muted mb-2">Geen paniek... Iedereen vergeet al eens iets! Hieronder kan je een nieuw paswoord instellen.</small>
            <div class="form-group">
                <label for="Password1">Nieuw wachtwoord</label>
                <input type="password" class="form-control" id="Password1" placeholder="Geef een nieuw wachtwoord in" required ng-model="resetPasswordCtrl.password">
                <div class="invalid-feedback">
                    Er moet een wachtwoord ingegeven worden.
                </div>
            </div>
            <div class="form-group">
                <label for="Password2">Herhaal je wachtwoord</label>
                <input type="password" class="form-control" id="Password2" ng-model="resetPasswordCtrl.passwordRepeat" placeholder="Geef het nieuwe wachtwoord nogmaals in"
                    required ng-class="{'is-invalid': resetPasswordCtrl.password !== resetPasswordCtrl.passwordRepeat}">
                <div class="invalid-feedback">
                    De wachtwoorden komen niet overeen
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-sm" ng-click="resetPasswordCtrl.sendNewPassword()" ng-disabled="resetPasswordCtrl.password === '' || resetPasswordCtrl.password === undefined || resetPasswordCtrl.password !== resetPasswordCtrl.passwordRepeat">
                Wachtwoord van Gimmi account vervangen</button>
        </div>
    </form>
</div>

<div class="container" ng-show="resetPasswordCtrl.validToken === false">
    <p class="mt-5">
        We kunnen u helaas niet verder helpen. Uw link is ofwel vervallen (= ouder dan 1u) of ongeldig.
    </p>
    <p>
        Om uw wachtwoord reset opnieuw aan te vragen: klik
        <a ui-sref="gimmi.forgotpassword">hier</a>
    </p>
</div>
