<div [formGroup]='parentFormGroup'>
    <label>Paswoord</label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><fa-icon [icon]="passwordIcon"></fa-icon></span>
        </div>
        <input  formControlName="password" 
                 [type]="showPassword ? 'text' : 'password'" 
                class="form-control">
        <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary border-secondary" (click)="toggleShowPassword()">
                <fa-icon [icon]="showPasswordIcon"></fa-icon>
            </button>
        </div>
    </div>
    <label>Paswoord controle</label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><fa-icon [icon]="passwordIcon"></fa-icon></span>
        </div>
        <input  formControlName="passwordCheck" 
                 [type]="showPassword ? 'text' : 'password'" 
                class="form-control">
        <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary border-secondary" (click)="toggleShowPassword()">
                <fa-icon [icon]="showPasswordIcon"></fa-icon>
            </button>
        </div>
    </div>
    <div id="passwordErrors" class="form-text text-danger"
        *ngIf="!parentFormGroup.get('passwordCheck').valid && parentFormGroup.get('passwordCheck').touched">
        <small *ngIf="parentFormGroup.get('passwordCheck').errors?.required">Wachtwoord is een verplicht veld.</small>
        <small *ngIf="parentFormGroup.get('passwordCheck').errors?.passwordMatch">De 2 wachtwoorden moeten overeenkomen.</small>
    </div>
</div>