<span   *ngIf="bannerConfig?.text" 
        [ngClass]="{
            'w-75 badge font-weight-normal text-wrap text-center badge-multiline disabled': true,
            'badge-wish-card-banner': true,
            'badge-warning': bannerConfig.backgroundColor === 'warning',
            'badge-danger': bannerConfig.backgroundColor === 'danger',
            'badge-success': bannerConfig.backgroundColor === 'success'
        }"
><fa-icon [icon]="bannerConfig.bannerIcon"></fa-icon> {{bannerConfig.text}}
</span>